{% extends 'base.html' %}

{% block title %}Listar Alunos{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="text-center mb-4">Lista de Alunos</h2>
       
    {% if count != 0 %}
        <h3 class="info">Total de alunos cadastrados: {{ count }}</h3>
    
        {% for aluno in alunos %}
            <div class="details-container">
            <p><strong>{{ aluno.nome }}</strong> (Número de registro: {{ aluno.id }})</p>
            {% if current_user.is_authenticated %}
                <button class="btn btn-primary mt-3"><a class="btn-link" href="{{ url_for('admin.ver_aluno', aluno_id=aluno.id) }}">Detalhes</a></button>
                <form action="{{ url_for('admin.deletar_aluno', aluno_id=aluno.id) }}" method="POST" style="display:inline;">
                    <button class="btn btn-danger mt-3" type="submit" onclick="return confirm('Tem certeza que deseja excluir este aluno?');">Deletar</button>
                </form>
            {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info text-center">Nenhum aluno cadastrado.<div>
    {% endif %}
</div>
{% endblock %}
